
*{
    font-family: -Esfera-NF;
    /* font-weight: 10 !important; */

}
#chat{
    position: fixed;
    z-index: 1;
    bottom:10px;
    right:15px;
    width:50px !important;
  }
  /* .about p{
    font-family:"EseferaNFW01-Regular" !important ;
    font-size: 0.8rem;
    font-weight:bold !important;
  } */

.rounded{
    border-radius:15px !important;
}
#sml{
    display: inline;
}
#sml li{
    display: inline-block;
    background: white;
    margin:1rem 0.4rem;
    padding: 0.6rem;
    border-radius:10px ;
}
#sml li a {
 font-size: 1rem;
 font-weight: bold;
}
::-webkit-scrollbar {
    width: 10px;
    margin-right: 10px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent !important;
    display: none;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #000;
    width: 10px;
    height: 5px;
    border-radius: 20px;    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
@media (min-width: 100px) {
    html h1 {
       font-family:  "Esfera NF W01 Bold";
    }
    .brand .b2{
        
       font-family:  "Esfera NF W01 Bold";
        font-weight:600 !important;
        font-size: 1.5rem;
        padding: 0;
        margin: 0;
        /* color: rgba(158, 158, 158,1); */
        color: #9e9e9e;
    }
    .brand1{
       font-family:  "Esfera NF W01 Bold";
        /* font-weight:bolder; */
        font-size: 3rem;
        color:black;
        margin:0;
        
    }
    .brand .row img{
        border-radius: 10px;
    }
    .about h1, .app_screenshot h1, .review h1, .download h1, .sml h1{
        
       font-family:  "Esfera NF W01 Bold";
        font-weight:400 !important;
        font-size: 1.7rem;
        color:black;
    }
    .about p{
        font-family: -Esfera-NF !important;
        font-size:1rem; 
        font-weight:300;
    }
    .review_container img{
        margin: 1rem;
    }  
    .container{
        padding: 2rem 3rem;
    }
    .brand{
        width:40%;
        padding: 0;
        margin: 1px auto;
       
    }
    .brand .row{
        padding:0;
    }
    .apk1{
        width: 36%;
        font-size: 90%;
        margin: auto;
        
    }
    .tele p{
        font-weight: bold !important;
    }
    .tele h4{
        font-weight: bold !important;
    }
    
}

@media  (max-width: 500px) {
    
    .container, .container-fluid{
        padding:0.6rem !important;
        margin: 0 !important;

    }
    html{
        font-size: 75%;
    }
    .brand{
        width: 90% !important;
       
        justify-content: center;
        margin: auto auto !important;
    }
    .apk1{
        width: 70% !important;
        margin: auto !important;
        font-size: 80%;
    }
    .tele{
        width:100% !important;
        font-weight: 300;
    }
    .about p{
        margin:0;
        padding:0;
    }
    .tele .col-6{
        padding: 0px !important;
    }
    
    }
    @media  (min-width: 500px) and (max-width: 800px) {
    
        .container, .container-fluid{
            padding:0.6rem  !important;
            margin: 0 auto !important;
    
        }
        html{
            font-size: 90%;
        }
        .brand{
            width: 55% !important;
           
            justify-content: center;
            margin: auto auto !important;
        }
        .apk1{
            width: 50% !important;
        }
        .tele{
            width:100% !important;
            font-weight: 300;
        }
        
        }
    
