@font-face {
    font-family: -Esfera-NF;
    src: url(-Esfera-NF.ttf);
    
}
@font-face {font-family: "Esfera NF W01 Bold";
    src: url("2243c51d9b5b829f42fb44ef4d45ecd0.eot"); /* IE9*/
    src: url("2243c51d9b5b829f42fb44ef4d45ecd0.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("2243c51d9b5b829f42fb44ef4d45ecd0.woff2") format("woff2"), /* chrome、firefox */
    url("2243c51d9b5b829f42fb44ef4d45ecd0.woff") format("woff"), /* chrome、firefox */
    url("2243c51d9b5b829f42fb44ef4d45ecd0.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("2243c51d9b5b829f42fb44ef4d45ecd0.svg#Esfera NF W01 Bold") format("svg"); /* iOS 4.1- */
  }
*{
    font-family: -Esfera-NF;
    font-weight: 300 !important;

}
::-webkit-scrollbar {
    width: 10px;
    margin-right: 10px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent !important;
    display: none;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #000;
    width: 10px;
    height: 5px;
    border-radius: 20px;    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.rounded{
    border-radius:15px !important;
}
#sml{
    display: inline;
}
#sml li{
    display: inline-block;
    background: white;
    margin:1rem 0.5rem;
    padding: 0.6rem;
    border-radius:10px ;
}
#sml li a {
 font-size: 1rem;
 font-weight: bold;
}
@media (min-width: 100px) {
    html h1 {
       font-family:  "Esfera NF W01 Bold";
    }
    .brand .b2{
        
       font-family:  "Esfera NF W01 Bold";
        font-weight:800;
        font-size: 1.30rem;
        padding: 0;
        margin: 0;
        color: rgba(158, 158, 158,1);
    }
    .brand1{
       font-family:  "Esfera NF W01 Bold";
        /* font-weight:bolder; */
        font-size: 3rem;
        color:black;
        
    }
    .brand .row img{
        border-radius: 10px;
    }
    .about h1, .app_screenshot h1, .review h1, .download h1, .sml h1{
        
       font-family:  "Esfera NF W01 Bold";
        font-weight:bolder !important;
        font-size: 1.8rem;
        color:black;
    }
    .about p{
        font-family: -Esfera-NF;
        color:black !important;
        font-weight:300;
        font-size: 1.3rem;
    }
    .review_container img{
        margin: 1rem;
    }  
    .container{
        padding: 2rem 3rem;
    }
    .brand{
        width:40%;
        padding: 0;
        margin: 1px auto;
       
    }
    .brand .row{
        padding:0;
    }
    .apk1{
        width: 40%;
        font-size: 100%;
    }
    
}
/* @media  (max-width:800px) {
    .brand{
        width:60%;
    }
    .apk1{
        width: 80%;
    }
    .tele{
        width:90% !important;
        border:1px solid black;
    }
} */
@media  (max-width: 500px) {
    
    .container, .container-fluid{
        padding:0.6rem !important;
        margin: 0 !important;

    }
    html{
        font-size: 75%;
    }
    .brand{
        width: 90% !important;
       
        justify-content: center;
        margin: auto auto !important;
    }
    .apk1{
        width: 85% !important;
        margin: auto !important;
        font-size: 80%;
    }
    .tele{
        width:100% !important;
        font-weight: 300;
    }
    
    }
    @media  (min-width: 500px) and (max-width: 800px) {
    
        .container, .container-fluid{
            padding:0.6rem  !important;
            margin: 0 auto !important;
    
        }
        html{
            font-size: 90%;
        }
        .brand{
            width: 55% !important;
           
            justify-content: center;
            margin: auto auto !important;
        }
        .apk1{
            width: 50% !important;
        }
        .tele{
            width:100% !important;
            font-weight: 300;
        }
        
        }
    
