
 
  @media (min-width: 100px) {
    /* *{
      font-family: 'DEC Terminal Modern', sans-serif;
                                                
     } */
     .cc1 ,.cc2{
      padding: 1rem;
      margin: 2rem 1rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 10px;
     }
   .active a{
    font-weight: bold;
    color: blue !important;
   }
     html{
      scroll-behavior:smooth;
     }
     .mr li{
      margin-top: 1rem;
     }
     #footer {
      background-color:black;
      position:sticky;
      bottom: 0%;
      left: 0%;
      margin: 0;
      padding: none;
      width: 100% ;
      color: white;
     }
     #footer ul li a, #footer{
      color: white;
      font-size:0.8rem;
     }
     #footer ul{
      list-style-type: none;
      display: flex;
      padding: none;
     }
     #footer ul li{
      display: block;
      margin: auto 0.8rem;
      padding: none;
      
     }
     #sidebar{
      position: fixed;
      top: 30%;
      left:0px;
      z-index: 1;
     }
     #sidebar ul{
      display: flex;
      flex-direction: column;
     }
     #sidebar ul li{
      display: block;
      flex-direction: column;
     }
     .uoss ul li{
      margin: 1.5rem 0rem;
     }
     .aap{
      position:absolute; 
      bottom:0; 
      right:0; 
      left:10%;
      font-weight:600;
      background-color:rgba(0,0,0,0.5);
      width: 80%;
      color: white;
      font-weight: 800;
     }
     #plya{
      position:absolute; 
      top:30%; left:46%;
       color:white; 
       background:orangered;
     
    }
    
     #hero_h1{
      width:100vw;
      height: 100%;
      padding: 5%;
      background-image:url('https://tradzoo.com/static/img/hero/h1_hero.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
     }
    
    .carousel-inner {
        padding: 1em;
      }
      .carousel-control-prev,
      .carousel-control-next {
        background-color: #e1e1e1;
        width: 6vh;
        height: 6vh;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
      }
      nav li {
        padding:0rem 1.5rem ;
      }
      .nav-item a{
        color:black ;
        font-weight: bold !important;
        
      }
      #vdo{
    
        background-color: red;
       
      }
    .carousel-item {
      margin-right: 0;
      flex: 0 0 33.333333%;
      display: block;
    } 
    .carousel-inner {
      display: flex;
    }
    #review .carousel-inner{
        display: flex;
    }
    #review .carousel-item{
        flex: 0 0 100%;
        padding: 0% 2%;
        
    }
    #DES{
      padding: auto;
      margin: auto;
      position: absolute;
      top:112%;
      left:0;
    
     }
     #DES .row .col-md-4 .row{
      border:1px solid black;
      border-radius: 25%;
      padding: 10px;
      box-shadow: 5px 20px 20px 20px #3b3737;
     }
    
    
ul li a {
  text-decoration: none;
  color:black;
}
ul li a:hover {
  text-decoration: none;
  color:black;
}
ul li a span{
  font-size: 20px;
} 
ul li p{
  padding:none !important;
  margin:none !important;
}
.ulh{
  list-style-type: none;
 display: flex;
 overflow: none;
 margin:0;
 padding: 0;

}
.ulh li{
  flex: 0 0 calc(100%/3);
  display: block;
}
.ulh li a{
  background-color: white;
  font-size: 0.85rem !important;
}
#chat{
  position: fixed;
  bottom:10px;
  right:10px;
  width:50px !important;
}

   .nav-item a{
    text-decoration: none;
    font-weight: bold !important;
   }
   .w-25-md{
    width: 30%;
  }
  .download{
    display: flex;
  }
  .apk{
    display: block;
    flex: 0 0 50%;
    margin: 1rem;
    padding: 0.5rem;
    background: white;
    border-radius: 0.8rem;
  }
  #smicons{
    display: flex;
  }
  #smicons div{
    display: block;
    /* flex: 0 0 calc(100%/3); */
  }
  }

  @media (max-width: 767px) {
    #sidebar{
      display: none;
    }
    #footer{
      display: none;
    }
    #footer ul{
      list-style-type: none;
      display: flex;
      padding: none;
      flex-direction: column;
     }
     #footer ul .mr-auto{
      flex-direction: row;
      display: flex;
      float: right;
     }
     #footer .mr-auto li{
      margin:1rem;
      
     }
     #footer ul li{
      margin:0.1rem;
     }
    .carousel-item {
      margin-right: 0;
      flex: 0 0 100%;
      display: block;
    }
    .carousel-inner {
      display: flex;
    }
    #review .carousel-inner{
        display: flex;
    }
    #review .carousel-item{
        flex: 0 0 100%;
        padding: 0% 2%;
        
    }
  .ulh{
    display: flex;
    overflow: auto;
  }
 .ulh li{
  display: block;
  flex:0 0 calc(100%/3);
 }
 #DES{
  padding: auto;
  margin: auto;
  position: static;
  top:115%;
  left:0;

 }
 #DES .row .col-md-4 .row{
  border:1px solid black;
  border-radius: 25%;
  padding: 10px;
  box-shadow: 5px 20px 20px 20px #3b3737;
 }
 #chat{
  position: fixed;
  bottom:10px;
  right:10px;
  width:50px !important;
}
.w-25-md{
  width: 100%;
}
.w-25, .w-50, .w-75 {
  width: 100% !important;
}
  }
